trigger:
- master

pool:
  vmImage: windows-latest

variables:
  TF_VERSION: "1.6.6"
  WORKDIR: "$(Build.SourcesDirectory)"
  BACKEND_RG: "rg-dev-001"
  BACKEND_SA: "tfrgdev001"
  BACKEND_CONTAINER: "tfstate"
  BACKEND_KEY: "dev.terraform.tfstate"

steps:
- checkout: self

# Using your manual install script since the Task is missing
- powershell: |
    $ver = "$(TF_VERSION)"
    Invoke-WebRequest -Uri "https://releases.hashicorp.com/terraform/$ver/terraform_${ver}_windows_amd64.zip" -OutFile "terraform.zip"
    Expand-Archive terraform.zip -DestinationPath .
    New-Item -ItemType Directory -Path "$env:USERPROFILE\bin" -Force
    Move-Item .\terraform.exe "$env:USERPROFILE\bin\terraform.exe" -Force
    echo "##vso[task.prependpath]$env:USERPROFILE\bin"
  displayName: "Manual Install Terraform"

- task: AzureCLI@2
  displayName: 'Terraform Init'
  inputs:
    azureSubscription: "TerraformFlow"
    scriptType: "ps"
    scriptLocation: "inlineScript"
    addSpnToEnvironment: true
    inlineScript: |
      # Map variables so Terraform can see them
      $env:ARM_CLIENT_ID = $env:servicePrincipalId
      $env:ARM_CLIENT_SECRET = $env:servicePrincipalKey
      $env:ARM_TENANT_ID = $env:tenantId
      $env:ARM_SUBSCRIPTION_ID = "e7b9c4e6-3213-43e1-ba5b-14a6fc556367"
      # $env:ARM_SUBSCRIPTION_ID = (az account show --query id -o tsv)
      # 3. Explicitly tell Terraform to use AzureAD Auth via Env Var
      $env:ARM_USE_AZUREAD = "true"

      # 4. Prevent Terraform from trying to use the CLI login session
      # This is often the missing step
      $env:AZURE_CONFIG_DIR = "$(Agent.TempDirectory)\.azure-tf"

      terraform init -reconfigure `
        -backend-config="resource_group_name=$(BACKEND_RG)" `
        -backend-config="storage_account_name=$(BACKEND_SA)" `
        -backend-config="container_name=$(BACKEND_CONTAINER)" `
        -backend-config="key=$(BACKEND_KEY)"

- task: AzureCLI@2
  displayName: "Terraform Plan"
  inputs:
    azureSubscription: "TerraformFlow"
    scriptType: "ps"
    scriptLocation: "inlineScript"
    addSpnToEnvironment: true
    inlineScript: |
      $env:ARM_CLIENT_ID = $env:servicePrincipalId
      $env:ARM_CLIENT_SECRET = $env:servicePrincipalKey
      $env:ARM_TENANT_ID = $env:tenantId
      $env:ARM_SUBSCRIPTION_ID = (az account show --query id -o tsv)

      terraform plan `
        -var-file="terraform.tfvars" `
        -out="tfplan"

- task: AzureCLI@2
  displayName: "Terraform Apply"
  inputs:
    azureSubscription: "TerraformFlow"
    scriptType: "ps"
    scriptLocation: "inlineScript"
    addSpnToEnvironment: true
    inlineScript: |
      $env:ARM_CLIENT_ID = $env:servicePrincipalId
      $env:ARM_CLIENT_SECRET = $env:servicePrincipalKey
      $env:ARM_TENANT_ID = $env:tenantId
      $env:ARM_SUBSCRIPTION_ID = (az account show --query id -o tsv)

      terraform apply -auto-approve "tfplan"



# trigger:
# - master

# pool:
#   vmImage: windows-latest

# variables:
#   TF_VERSION: "1.6.6"
#   WORKDIR: "$(Build.SourcesDirectory)"

#   BACKEND_RG: "rg-dev-001"
#   BACKEND_SA: "tfrgdev001"
#   BACKEND_CONTAINER: "tfstate"
#   BACKEND_KEY: "dev.terraform.tfstate"

# steps:
# - checkout: self

# - powershell: |
#     $ver = "$(TF_VERSION)"
#     Invoke-WebRequest -Uri "https://releases.hashicorp.com/terraform/$ver/terraform_${ver}_windows_amd64.zip" -OutFile "terraform.zip"
#     Expand-Archive terraform.zip -DestinationPath .
#     Move-Item .\terraform.exe "C:\Windows\System32\terraform.exe" -Force
#     terraform -version
#   displayName: "Install Terraform"

# - task: AzureCLI@2
#   displayName: 'Terraform Init'
#   inputs:
#     azureSubscription: "TerraformFlow"
#     scriptType: "ps"
#     scriptLocation: "inlineScript"
#     addSpnToEnvironment: true # IMPORTANT: This exposes the credentials
#     inlineScript: |
#       # Map the SPN variables to the ones Terraform expects
#       $env:ARM_CLIENT_ID = $env:servicePrincipalId
#       $env:ARM_CLIENT_SECRET = $env:servicePrincipalKey
#       $env:ARM_TENANT_ID = $env:tenantId
#       # $env:ARM_SUBSCRIPTION_ID = (az account show --query id -o tsv)
#       # terraform init -reconfigure


# - task: AzureCLI@2
#   displayName: "Terraform Plan"
#   inputs:
#     azureSubscription: "TerraformFlow"
#     scriptType: "ps"
#     scriptLocation: "inlineScript"
#     inlineScript: |
#       Set-Location "$(WORKDIR)"
#       $env:ARM_USE_AZUREAD = "true"
#       $env:ARM_CLIENT_ID = $env:servicePrincipalId
#       $env:ARM_TENANT_ID = $env:tenantId
#       $env:ARM_SUBSCRIPTION_ID = $env:subscriptionId

#       # # CLEAN OLD BACKEND CACHE (IMPORTANT)
#       # if (Test-Path ".terraform") { Remove-Item -Recurse -Force ".terraform" }
#       # if (Test-Path ".terraform.lock.hcl") { Remove-Item -Force ".terraform.lock.hcl" }

#       # # BACKEND IS TAKEN ONLY FROM backend.tf
#       # terraform init -reconfigure -upgrade

#       # terraform init -reconfigure `
#       #   -backend-config="resource_group_name=$(BACKEND_RG)" `
#       #   -backend-config="storage_account_name=$(BACKEND_SA)" `
#       #   -backend-config="container_name=$(BACKEND_CONTAINER)" `
#       #   -backend-config="key=$(BACKEND_KEY)"

#       terraform plan `
#         -var-file="terraform.tfvars" `
#         -var="vm_admin_password=$(VM_ADMIN_PASSWORD)" `
#         -out="tfplan"

# - task: AzureCLI@2
#   displayName: "Terraform Apply"
#   inputs:
#     azureSubscription: "TerraformFlow"
#     scriptType: "ps"
#     scriptLocation: "inlineScript"
#     inlineScript: |
#       Set-Location "$(WORKDIR)"
#       $env:ARM_USE_AZUREAD = "true"
#       $env:ARM_CLIENT_ID = $env:servicePrincipalId
#       $env:ARM_TENANT_ID = $env:tenantId
#       $env:ARM_SUBSCRIPTION_ID = $env:subscriptionId

#       terraform apply -auto-approve "tfplan"
































